/* styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: rgb(40, 42, 42);
}

.home {
  background-color: #000000; /* Black background */
  color: #ffffff; /* White text */
  padding: 20px;
  text-align: center;

}
.home h1 {
  font-size: 2.5rem; /* Example of adjusting header size */
}

.home h2 {
  font-size: 2rem; /* Example of adjusting subheader size */
}

.home p {
  font-size: 1.5rem; /* Example of adjusting paragraph size */
}
.login,
.register,
.create-place,
.create-route,
.place-details,
.place-list {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #6b6868; /* Adjust background color for form-like components */
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #28a745;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0eef3f;
}

/* Header styles */
.header {
  background-color: #020202;
  padding: 20px 40px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000; /* Ensures header is on top of other content */
  display: flex;
}

/* Main content styles */
.main-content {
  padding-top: 60px; /* Adjust based on header height to ensure content is below the header */
  padding-left: 20px; /* Optional: Add padding for left alignment */
  padding-right: 20px; /* Optional: Add padding for right alignment */
  margin: 0 auto;
  max-width: 1200px; /* Optional: Limit the width of the content */
}

/* Other global styles */
img {
  height: 40px;
  width: 40px;
}
