/* Login.css */

.login {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #626060;
}

.login h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login form {
  display: flex;
  flex-direction: column;
  background-color: #626060;
}

.login input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login button {
  padding: 10px 20px;
  background-color: #28a745;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.login button:hover {
  background-color: #0eef3f;
}

.login .error {
  color: #626060;
  margin-bottom: 10px;
}

.login p {
  text-align: center;
  margin-top: 10px;
}

.login .register-link {
  text-align: center;
  margin-top: 10px;
}

.login .register-link a {
  color: #28a745;
  text-decoration: none;
}

.login .register-link a:hover {
  text-decoration: underline;
}
.login .h2{
  color:#626060;
}