.Places {
    text-align: center; 
    line-height: 2; 
    background-color: rgb(16, 122, 16);
    color: rgb(248, 246, 239);
    text-decoration: none;
    font-weight: 400;
    border-radius: 10px;
    border: 1px solid rgb(247, 246, 237);
    transition: .3s;
    padding: 6px 8px;
  }

  .Places:hover {
    color: rgb(250, 252, 249);
    box-shadow: 0 0 20px rgb(40, 42, 38);
    background-color: rgb(81, 255, 0);
  }
  h1{
    margin-top: 170px;
  }